{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<table class="footer-logo">
  <tr>
    <td><a href="http://lyon-university.org/"><img height="60" src="images/logo-ulyon.png" /></a></td>
    <td><a href="http://www.insa-lyon.fr/en"><img height="60" src="images/logo-insalyon.png" /></a></td>
    <td><a href="http://www.citi.insa-lyon.fr/"><img height="40" src="images/logo-citilab.png" /></a></td>
  </tr>
</table>

