{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<table class="footer-logo">
  <tr>
    <td><a href="http://lyon-university.org/"><img width="135" height="60" src="/images/logos/logo-ulyon.png" /></a></td>
    <td><a href="http://www.insa-lyon.fr/en"><img width="148" height="60" src="/images/logos/logo-insalyon.png" /></a></td>
    <td><a href="http://www.citi.insa-lyon.fr/"><img width="106" height="60" src="/images/logos/logo-citilab.png" /></a></td>
  </tr>
</table>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33821372-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

