<p>
  <a href="{{ root_url }}/about">About</a> | Legal Notice<br />
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
  <br />
  <table class="footer-logo">
    <tr>
      <td><a href="http://lyon-university.org/"><img height="60" src="{{ root_url }}/images/logo-ulyon.png" /></a></td>
      <td><a href="http://www.insa-lyon.fr/en"><img height="60" src="{{ root_url }}/images/logo-insalyon.png" /></a></td>
      <td><a href="http://www.citi.insa-lyon.fr/"><img height="40" src="{{ root_url }}/images/logo-citilab.png" /></a></td>
    </tr>
  </table>
</p>
