// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

// No border
.no-border {
  border: 0;
}

// People
td.social-icons {
  max-width: 160px;
}

// SlideJS
$slide-bg: desaturate(lighten($title-color, 10), 5);
$slide-bg-front: image-url('noise.png');
$slide-bg-back: linear-gradient(lighten($slide-bg, 8), $slide-bg, saturate(darken($slide-bg, 8), 10));

#content {
  div.slides_border {
    background-color: $slide-bg;
    @include background($slide-bg-front, $slide-bg-back);    
    padding-top: 0;
    padding-bottom: 0;
    float: left;
  }
}

#slides .prev {
  margin-right: 5px;
  float:left;
}

#slides .next {
  margin-right: 5px;
  float:left;
}

.slides_pagination {
    margin:6px 0 0;
    float: right;
    list-style: none;
}

.slides_pagination li {
    float: left;
    margin: 0 1px;
}

.slides_pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(/images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slides_pagination li.current a, .pagination li.current a:hover { background-position: 0 -13px }

.slides_pagination li a:hover { background-position: 0 -26px }

// Footer
body {
  table.footer-logo {
    width: 100%;
    position: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  td {
    padding-right: 1px;
    padding-left: 1px;
    text-align: center;
  }
}

// HAL Publications
/* classe css de la page*/
#res_script{
  border:0;
  background-color: $main-bg;
  color: black;
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}

/* classe pour les rubriques pour certains type de classement (type de publi, année de publi) */ 
.Rubrique{
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
  color: black;
  background-color: $nav-bg;
  border: solid 1px darken($nav-bg, 25);
  padding: 5px 5px 5px 10px;
  margin-bottom: 16px;
}
.SousRubrique{
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
  color: black;
  margin-left: 10px;
  font-size: 1.3em;
}

/*nom du champ*/
.ChampRes {
  display: none;
}

/* classe commune à tous les champs affichés */ 
.ValeurRes {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  color: black;
  margin-left: 1.2em;
}
.NoticeRes:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* classe pour les auteurs */ 
.Auteurs {
}

/* classe pour les titres */ 
.Titre, .Titre a {
  color: $link-color;
  text-decoration: none;
}

/* classe pour les identifiants */ 
.Identifiant {
}

/* classe des détails de publication : une classe par type */ 
.detail_revue,.detail_conf,.detail_cours,.detail_ouv,.detail_hdr,.detail_these,.detail_autre,.detail_brevet,.detail_rapport,.detail_sans_ref{
}

/* classe pour les doi */ 
.DOI{
}

/* classe pour les résumés */ 
.Debut_du_resume{
}

/* classe pour le type de document */ 
.Type_de_document{
}

/* classe pour l'audience */ 
.Audience{
}

